/**
 * @file
 *
 * gemeinde-gabersdorf subtheme
 * base theme: ZEN 5
 * development server @localhost; 
 * drupal7zenmaster5
 *
 * author: criscom
 * date: 20130722 / 22. Juli 2013
 *
**/ 

// ======================================
// Body and general styles
// ======================================

* 
{
	@include bs;
}

body 
{
	@include establish-baseline;
	@include adjust-font-size-to(12px);
	background-color: $color0;
	background-image: image-url('body_bg.png');
	background-size: 1400px 125px;
	background-repeat: repeat-x;
	color: $font;
	font-family: $font-body;
	//background-image: image-url('svg/body_bg.svg');
	background-position: 0 0;
}

::-moz-selection {
	background-color: $color0;
	text-shadow: none;
}

::selection {
	background-color: $color0;
	text-shadow: none;
}

#page {
	background-color: white;
}

#main {
	padding-top: 4em; // Positions the content area under the main menu
						// Node header should be positioned 1px below the main menu
}

#header, #content, #navigation, .region-sidebar-first, .region-sidebar-second, #footer {
	padding-right: 15px;
	padding-left: 15px;
}

#content p {
	@extend %single-transition;
}

input, select, img, iframe {
	max-width: 100%;
	height: auto;
}

a:link {
	@extend %single-transition;
}

// Links in paragraphs and lists
// p a:link, p a:visited, p a:hover, p a:active,
// p li a:link, p li a:visited, p li a:hover, p li a:active,
.column a:link, .column a:visited, .column a:active {
	color: $color1;
	&:hover {
		color: $color5;
		text-decoration: none;
	}
}

.messages,
.messages-error,
.messages-warning,
.messages-status {
	background-repeat: no-repeat;
}

// ======================================
// Header section with Gemeinde Logo and Sublogos
// ======================================

//.header
[role="banner"]
 {
	//overflow: hidden;
	height: 205px; // A scaleable vector graphic for the header section
	background: transparent image-url('header/header-ohne_bg.jpg') 15px 0px no-repeat;
	// 24.07.2013
	// SVGs do not work in Safari and Chrome browsers at the momente (on localhost); various
	// workarounds have misfired and I am continuing with a jpg version.

	//background-image: image-url("svg/amazon-us.svg");
	// background-size: 100% 100%;
	// background-position: 0 0;
	// background-repeat: no-repeat;
	// height: 100px;
	// width: 100px;
	//background: transparent image-url('bg-sprites-s18f9313191.png') 15px 0px no-repeat;
	// @include background-size(cover);
	
	.no-svg & { // For browsers that don't support SVAs we load a png for the header thanks to modernizr
		// background: transparent image-url('header/header-mit-text-mit-wappen.png') 15px 0px no-repeat;
	}
}

.header--logo { // the logo is a blank transparent png in order to make the text section in the header clickable
	margin: 1em 0 0 2em;
	//display: none;
}

.header--site-name { // hiding the website name and slogan
	@include hide-text;
}

// Facebook, Address and Partner Logo block in Header
// ======================================

.header--region { // Block under header with FB icon, address and partner logos
	@extend %left-border; // Aligning the FB icon with first main menu item 'Home' and node heading
		.block {
			display: inline-block;
			display: -moz-inline-stack; // For Mozilla Firefox 2
			vertical-align: top;
			line-height: 1.5em;
			zoom:1; // For IE7 and below
			*display: inline; // For IE7 and below
			p {// removing margin on top of the adress text in order to move it further twd the header
				margin-top: 0;
			}
		}
		.first { // Aligning the address block
			margin-right: 2.6em;
		}
		.last { // pushing the partner logos to the right
			float: right;
			@extend %right-border;
		}
}

// Search form in Header block/region
// ======================================
[role="search"] { // positioning of search form
	float: right;
	padding-top: 7.3em;
	@extend %right-border;
	@media only screen and (max-width: 721px)
	{
		padding-top: 4.5em;
		float: left;
		// @extend %left-border;
	}
}

.block-search input[type="text"] {
	// height: 2em;
	padding: 5px 5px !important;
	border: 1px solid $color8;
	@include box-shadow(0px 0px 10px $color1 inset);
	color: lighten($font, 30%);
}

.form-actions {
	
	input[type="image"] {
		vertical-align: middle;
	}
}

// ======================================
// Main menu
// ======================================


#navigation // No padding for the main navigation so that the background can bleed
{

	.lt-ie8 .sidebar-second & { // in IE7 the navigation needs to be aligned to the left
		margin-left: -40px;
	}
}

// Soft green background for the main menu
.region-navigation {
	@extend %menu-border;
	background-color: $color2;
	height: 3.9em;
	// padding-left: .5em; // Aligning the first menu item 'Home' with node headings and FB icon
	//width: 100%;
	
}

// Nice menu stylings
// ======================================

#navigation {
	z-index: 100; // because we set z-index: 99; to the gallery container we need to adjust
				  // a higher z-index to #navigation so that the drop down is visible;
}

.menu,
ul.nice-menu {
		background:none;
		>li {
		border: none;
		background: none !important;
		a
		{
		@extend %menu;
		@extend %single-transition;
	
			&:hover, &:focus {
				background-color: lighten($color1, 3%); // on hover the menu item will be given a violet bg color
				color: white;
				// height: 2em;
			}
		}
		a.active, a.active-trail { 
			@extend %menu;
			background-color: $color1; // if main menu item is active menu item give it a violet bg color
			color: white;

			}
		// Styling of 2nd menu level
		ul {
			padding-top: 2em;
			border:none; // 2nd menu level
			li { // menu item of 2nd menu level
				width: 20em; 
			}
		}
	}
}

// ======================================
// Submenu Sidebar
// ======================================

.region-sidebar-second {
	padding-left: 0;
	.block-menu-block {
		background-color: $color2;
		h2 {
			padding-left: 8px;
			background-color: $color3;
			color: $color6;
		}
	}
}

.region-sidebar-second .block-menu-block ul {
	padding-left: 0px;
	margin-top: 0px;
	li
	{
		list-style: none;
		list-style-type: none;
		list-style-image: none;
		border-bottom: 1px solid $color8;
		a {
			color: $color6;
			&:hover
			{color: white !important;}
		}
	}
}

.region-sidebar-second .block-menu-block ul li a.active
{
	color: white;
}



// ======================================
// FOOTER
// ======================================

.region-footer {
	background: transparent image-url('footer_bg.jpg') 15px 9px no-repeat;
	p {
		@extend %left-border; // Aligning the first footer item with node header, first menu item and FB icon
		color: white;
		text-transform: uppercase;
		font-size: .9em;
		a {
			color: white;
		}
	}
}

// ======================================
// Basic page
// ======================================
.field-name-body h1, // help.gv content type headers
.page--title, // h1 and h2 page titles
.page-title  { // Page title Stellenausschreibung 
	background-color: $color1;
	color: white;
	font-size: 1.7em; // 20px
	line-height: 2em; // added 06.08.2013
	padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 1px;
	// padding left is set in the line below: 227
	@extend %left-border; // Aligning the first footer item with node header, first menu item and FB icon
}

.column li {
	list-style-type: bullet;
	color: $color1;
}

.egovernment.left {
	float: left;
	width: 49%;
	padding-right: 2%;
}

.egovernment.right {
	margin-top: 5px;
	width: 49%;
	float: right;
}
.caption {} // Needed for Image Caption module so that it appears in Styles in den Editor

.image-caption { // Image Caption, Bilduntertitel
	margin-bottom: 10px;
}

p>a>img 
{
	@extend %box-shadow-teaser;
	border: none;
}


// Termine views
// ======================================

// views_responsive_grid

.view-termine {
	@extend %left-border;
}

body.termine .view-grouping
{
	@extend %view-grouping;
}


// Aktuelles views /inhalt/aktuelles
// ======================================

body.aktuelles .block-views 
{
	width: 50%;
	float: left;
}


// Bürgerservice views
// ======================================

.views-responsive-grid .views-row 
{
	@extend %view-grouping;
	margin-right: 1.9% !important;
}

// Lokale Agenda 21 // Content Type Bildergalerie
// ======================================

// Bildergalerie

.field-name-field-agenda-bild-laden div div, // Lokale Agenda 21 Bildergalerie
.field-name-field-bildergalerie-bilder-laden div div
{
	display: inline-block;
	vertical-align: middle;
}

.field-name-field-agenda-bild-laden div .field-item,
.field-name-field-bildergalerie-bilder-laden div .field-item {
	padding-right: 5px;
}


// Bildergalerie Landing page
// ======================================
//  http://gemeindegabersdorf.local/inhalt/fotos-veranstaltungen

body.page-inhalt-fotos-veranstaltungen h1.title 
{
	margin-bottom: 20px;
}

body.page-inhalt-fotos-veranstaltungen .field-name-title h2 // Name of the photo gallery ==> Name der Veranstaltung
{
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: $color3;
	color: $color6;
	font-size: 1.5em;
	//text-shadow: 0 1px 0 #CFCFCF;
}

body.page-inhalt-fotos-veranstaltungen .view-bildergalerie-landing-page .view-content
// code taken from: http://matthamm.com/box-shadow-curl.html
{
	position: relative; // using a parent element make use that the parent div has position: relative; z-index: 99;
	z-index: 99;
	overflow: hidden;
}

body.page-inhalt-fotos-veranstaltungen .view-content .views-row // box shadow
{
	
	margin-bottom: 40px;
	@extend %box-shadow-teaser;
	//@include box-shadow(40px 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.04) inset);
	//@include box-shadow(0px 12px 12px -12px $color8);
	// @include box-shadow(0px 12px 12px -12px (lighten($color8, 20%)));
	//@include transform(rotate(3deg));
	//border: $color3 solid 1px;
	
}

.field-name-field-bildergalerie-bilder-laden div div // Big teaser image
{
	margin-top: 10px;
	@extend %left-border;
}

.view-bildergalerie-landing-page .group-right
{
	width: 49%;
	margin-left: 1%;
}