/**
 * @file
 *
 * gemeinde-gabersdorf subtheme
 * base theme: ZEN 5
 * development server @localhost; 
 * drupal7zenmaster5
 *
 * author: criscom
 * date: 20130722 / 22. Juli 2013
 *
**/ 

// ======================================
// Body and general styles
// ======================================

* 
{
	@include bs;
	@include transition(all, .5s);
}

body 
{
	@include establish-baseline;
	@include adjust-font-size-to(12px);
	background-color: $color0;
	background-image: image-url('body_bg.png');
	background-size: 1400px 125px;
	background-repeat: repeat-x;
	color: $font;
	font-family: $font-body;
	//background-image: image-url('svg/body_bg.svg');
	background-position: 0 0;
}

::-moz-selection {
	background-color: $color0;
	text-shadow: none;
}

::selection {
	background-color: $color0;
	text-shadow: none;
}

#page {
	background-color: white;
}

#main {
	padding-top: 4em; // Positions the content area under the main menu
						// Node header should be positioned 1px below the main menu
	.lt-ie9 & {
		position: relative;
	}

	@include MQ(XLneg) { // aligns node heading under navigation. see aktuelles page
		.not-front & {
		padding-top: 8em;
		}

	}
	@include MQ(XS) { // iphone 288 - 479 px
		padding-top: 0em;
	}
}

#header, #content, #navigation, .region-sidebar-first, .region-sidebar-second, #footer {
	@include MQ(Mplus) {
	padding-right: 15px;
	padding-left: 15px;
	}
}

#content p {
	@extend %single-transition;
}

input, select, img {
	max-width: 100%;
	height: auto;
}

iframe {
	max-width: 100%;
}

a:link {
	@extend %single-transition;
}

// Links in paragraphs and lists
// p a:link, p a:visited, p a:hover, p a:active,
// p li a:link, p li a:visited, p li a:hover, p li a:active,
.column a:link, .column a:visited, .column a:active {
	color: $color1;
	&:hover {
		color: $color3;
		text-decoration: none;

	}
}
p a:hover, p li a:hover, p li a:hover, .download-file a:hover {
		color: white!important;
		background: $color1;
		text-decoration: none;
		padding: 2px 0;
}

.messages,
.messages-error,
.messages-warning,
.messages-status {
	background-repeat: no-repeat;
}

// Inhaltstyp Aktuelles
a.more-link
{
	display: block!important;
	text-align: left!important;
	&:hover {
		background: none;
		text-decoration: none;
		color: $color3!important;
		padding: 0;
	}
}

// ======================================
// Header section with Gemeinde Logo and Sublogos
// ======================================

//.header
[role="banner"],
// .lt-ie9 #header // For IE 8
 {
	//overflow: hidden;
	background: transparent image-url('header/header-ohne_bg.jpg') 15px 0px no-repeat;
	@include MQ(Splus) {
		height: 205px;
	}
	@include MQ(XLneg) { // removes white padding for wooden green header background on mobile devices
		background: transparent image-url('header/header-ohne_bg.jpg') 0px 0px no-repeat;
	}
	@include MQ(Sneg) {
		@include background-size(cover);
		margin-bottom: 5px;
	}
	// 24.07.2013
	// SVGs do not work in Safari and Chrome browsers at the momente (on localhost); various
	// workarounds have misfired and I am continuing with a jpg version.

	//background-image: image-url("svg/amazon-us.svg");
	// background-size: 100% 100%;
	// background-position: 0 0;
	// background-repeat: no-repeat;
	// height: 100px;
	// width: 100px;
	//background: transparent image-url('bg-sprites-s18f9313191.png') 15px 0px no-repeat;
	// @include background-size(cover);
	
	.no-svg & { // For browsers that don't support SVAs we load a png for the header thanks to modernizr
		// background: transparent image-url('header/header-mit-text-mit-wappen.png') 15px 0px no-repeat;
	}
	
}

.header__logo { // the logo is a blank transparent png in order to make the text section in the header clickable
	margin: 1em 0 0 2em;
	@include MQ(Mneg) {
		margin: 0.5em 0 1em;
	}
}

.header__site-name { // hiding the website name and slogan
	@include hide-text;
}

// Facebook, Address and Partner Logo block in Header
// ======================================

.header__region { // Block under header with FB icon, address and partner logos
	clear: both;
	@include MQ(Mneg) { // hiding block on smaller screensitzes <= 748px
		display: none;
	}
	@extend %left-border; // Aligning the FB icon with first main menu item 'Home' and node heading
		.block {
			@extend %inline-block;
			p {// removing margin on top of the adress text in order to move it further twd the header
				margin-top: 0;
			}
		}
		.first { // Aligning the address block
			margin-right: 2.6em;
		}
		.last { // pushing the partner logos to the right
			float: right;
			@extend %right-border;
		}
}



// Search form in Header block/region
// ======================================
[role="search"] { // positioning of search form
	float: right !important;
	padding-top: 7.3em;
	@extend %right-border;
	@include MQ(Mneg) {
		padding-top: 3.6em;
	}
	@include MQ(Sneg) {
		float: none !important;
		text-align: center;
		//float: left;
		// @extend %left-border;
	}
}


.block-search input[type="text"] {
	// height: 2em;
	padding: 5px 5px !important;
	border: 1px solid $color8;
	@include box-shadow(0px 0px 10px $color1 inset);
	color: lighten($font, 30%);
}

.form-actions {
	
	input[type="image"] {
		vertical-align: middle;
	}
}

// ======================================
// Main menu
// ======================================


#navigation // No padding for the main navigation so that the background can bleed
{

	.lt-ie9 & { // in IE7 the navigation needs to be aligned to the left
		position: absolute;
		top: 0;
		width: 100%;
	}
}

// Soft green background for the main menu
.region-navigation {
	// padding-left: .5em; // Aligning the first menu item 'Home' with node headings and FB icon
	//width: 100%;
	
}

// Nice menu stylings
// ======================================

#navigation {
	z-index: 100; // because we set z-index: 99; to the gallery container we need to adjust
				  // a higher z-index to #navigation so that the drop down is visible;
		@include MQ(XLneg) {
			height: $nav-height-mobile !important; // 8 em
			// text-align: center !important;
		}
		@include MQ(Sneg) {
			padding: 0;
			height: $nav-height-small-mobile !important;
		}
	.region-navigation {
		@extend %menu-border;
		background-color: $color2;
		height: $nav-height; // 3.9 em
		
		@include MQ(XLneg) {
			height: $nav-height-mobile !important;
			// text-align: center !important;
		}
		@include MQ(Sneg) {
		padding: 0;
		height: $nav-height-small-mobile !important;
		}
	}
}

.menu,
ul.nice-menu {
		background:none;
		>li {
		border: none;
		background: none !important;
		a
		{
		@extend %menu;
			&:hover {
				background-color: lighten($color1, 3%); // on hover the menu item will be given a violet bg color
				color: white;
				// height: 2em;
			}
		}
		a.active { 
			@extend %menu;
			background-color: $color1; // if main menu item is active menu item give it a violet bg color
			color: white;

			}
		// Styling of 2nd menu level
		ul {
			padding-top: 2em;
			border:none; // 2nd menu level
			li { // menu item of 2nd menu level
				background-color: transparentize($color2, .1)!important;
				width: 20em;
				a {
				}
				&:hover {
					background-color: lighten($color1, 3%); // on hover the menu item will be given a violet bg color
					color: white;
				}
			}
		}
	}
}

ul.nice-menu li.active-trail>a {
	@extend %menu;
	background: $color1 !important;
	color: white;
}
// ======================================
// Submenu Sidebar
// ======================================

.region-sidebar-second {
	padding-left: 0;
	@include MQ(Sneg) {
		padding-right: 0;
	}
	.block-menu-block,
	.block-views // Submenu Termine Archiv
		{
		background-color: $color2;
		h2 {
			padding-left: 8px;
			background-color: $color3;
			color: $color6;
		}
	}
}

.region-sidebar-second .block-menu-block ul {
	padding-left: 0;
	margin-top: 0;
	li
	{
		list-style: none;
		list-style-type: none;
		list-style-image: none;
		border-bottom: 1px solid $color8;
		a {
			color: $color6;
			font-size: 1.15em!important;
			&:hover
			{color: white}
		}
	}
}

.region-sidebar-second .block-menu-block ul li a.active
{
	color: white;
}

// Submenu Termine Archiv
// ======================================

.region-sidebar-second .block-views .view-termine {
	padding-left: 0;
	.views-summary
	{
		border-bottom: 1px solid $color8;
		a {
			@extend %menu;
			color: $color6;
			&:hover
			{
				background: $color1;
				color: white;
			}
		}
	}
}
.views-summary a.active
{
	background: $color1 !important;
	color: white !important;
}

// ======================================
// FRONTPAGE styles
// ======================================

// BOX SHADOW for Frontpage
// ======================================

// Giving columns equal height

// .panels-flexible-row-2-main-row {
// 	display: table;
// 	width: 100%;
// 	table-layout: fixed;
// 	.panels-flexible-region {
// 		.pane-views {
// 			display: table-cell;
// 			width: 33.333%;
// 			height: 500px;
// 		}
// 	}
// }

.panels-flexible-region-inside 
{
	@include MQ(Lneg) {
		padding-right: 0;
		padding-left: 0;
	}
}

// setting the width of the columns
.panels-flexible-region-2-col_one, // 1st column 1st row, Termine
.panels-flexible-region-2-center, // 2nd column 1st row, Aktuelles
.panels-flexible-region-2-col_right, // 3rd column 1st row, Gabersdorf aktuell
.panels-flexible-region-2-col_one_2nd_row, // 1st column 2nd row, Förderprogramme
.panels-flexible-region-2-bottom_col, // 2nd column 2nd row, Stellenausschreibungen
.panels-flexible-region-2-2nd_col_right // 3rd column 2nd row, Unsere Gemeinde
{
	width: 33.333%;
	@include MQ(Lneg) {
		width: 100%;
		float: none;
	}
}

.panels-flexible-row-2-main-row .panel-pane,
.panels-flexible-row-2-2 .panel-pane,
.panels-flexible-row-2-3 .panel-pane

{
	@extend #block-views-gemeinderat-block;
}

.panels-flexible-row-2-3 {
	.panels-flexible-region-2-left, .panels-flexible-region-2-right 
	{ // Stellenbeschreibung, Wetter
		width: 50%;
	@include MQ(Lneg) {
		width: 100% !important;
		float: none;
	}
	}
}

.panels-flexible-region-2-right {
	@include MQ(Lneg) {
		width: 100% !important;
		float: none;
	}
}


.front .view { // Aktuelles > Heading News
	h2
	{
	margin-top: 5px;
	margin-bottom: 0px;
	color: $color6;
	}
	p {
		margin-top: 0px;
	}
	.more-link // More Link Termine Front
	{
		text-align: left;
		a:hover {
			color: white !important;
			background: $color1 !important;
			padding: 2px 0;
		}
	}
}

.front .view .view-grouping-header 
{
	margin-top: 12px;
}

.pane-weather-system-1 small
{
	display: none;
}

.weather p
{
	@extend %left-border;
}

.weather>div
{
	float: left;
	width: 25%;
	text-align: left !important;
	@extend %left-border;
}

.weather ul
{
	margin-left: 26%;
	margin-right: 4%;
	width: 74%;
}

.view-empty div {
	padding-top: 18px;
}

// Royal Slider Slideshow Homepage
// ======================================

#HPslideshow {
	width: 100%;
	height: 220px;
	@include MQ(XXLplus) {
	width: 930px; // 930px / 960px;
	}
	@include MQ(XLneg) {
		margin-top: 4.1em !important;
		height: 200px;
		}
	@include MQ(Sneg) {
		margin-top: 0 !important;
		height: 70px;
	}
}

.panels-flexible-region-2-top_col {
	text-align: center;
	@media screen and (min-width: 960px)
	{
	margin-left: -11px;
	}
}

div.slideshow-title {
	color: $color6;
	font-size: 1.5em;
	text-align: left;
	height: 100%;
	line-height: .1em;
	.lt-ie9 & {
		position: absolute;
    	padding: 10px;
    	top: 161px;
    	width: 100%;
    	background: transparent;
    	color: white;
    	line-height: 1.6em;
		}
	@include MQ(XXLplus) { // >= 960
	position: absolute;
    padding: 10px;
    top: 9em;
    width: 100%;
    background: rgba(white, 0.5);
    line-height: 1.6em;
		}
	@include MQ(XL) { // >= 900 - 959
	position: absolute;
    padding: 10px;
    top: 8.6em;
    width: 100%;
    background: rgba(white, 0.5);
    line-height: 1.2em;
		}
	@include MQ(Sneg) {
	font-size: 1em;
	}
}

.royalWrapper li.views-row {
	@include MQ(Sneg) {
		height: 140px !important;
	}
}

.royalSlider .royalSlide, .royalSlider .royalWrapper {
	background: transparent !important; // Navigation bg transparent
}

.royalSlider.default .royalControlNavOverflow {
	margin-top: -10px;
}

.royalSlider.default .royalControlNavCenterer {
	background: transparent;
}

.royalSlider .royalControlNavCenterer {
	@include MQ(Sneg) {
		display: none !important;
	}
}

.royalSlider.default .royalControlNavOverflow a 
{
	background-image: none;
	background-color: $color1;
	margin-right: 3px;
	&.current {
		background-color: $color5;
	}
}

// ======================================
// FOOTER
// ======================================

// FOOTER Frontpage Image Rotator Touchcarousel
// ======================================

@include MQ(Sneg) {
	#footer {
		padding: 0;
	}
}

.region-footer > .first {
	margin-top: 15px;
	background:transparent image-url('image-rotator_bg.png') left top no-repeat;
	border-bottom: 1px solid $color8;
	h2 {
		background:none !important;
		color: white !important;
	}
}

.touchcarousel {
	width: 100%;
	height: 155px;
}
.touchcarousel-container {
	width: 100%;
	.views-row {
		@extend %inline-block;
		ul {
			padding-left: 10px;
		}
			li {
				float: left;
				list-style-image: none;
				list-style-type: none;
				padding-right: 10px;
				&.last {
					padding-right: 0;
				}
			}
		}
}

// FOOTER Impressum
// ======================================
.region-footer #block-block-1 {
	background: transparent image-url('footer_bg.jpg') top left no-repeat;
	@include MQ(Sneg) {
	@include background-size(cover);
	}
	@include MQ(Splus) {
	height: 40px;
	margin-top: 25px;
	}
	p {
		@extend %left-border; // Aligning the first footer item with node header, first menu item and FB icon
		padding-top: 6px;
		color: white;
		text-transform: uppercase;
		font-size: .9em;
		a {
			color: white;
		}
	}
}

// ======================================
// Titles and Headings: H1, H2 etc
// ======================================
.field-name-body h1, // help.gv content type headers
.page__title, // h1 and h2 page titles
.page-title  { // Page title Stellenausschreibung 
	background-color: $color1;
	color: white;
	font-size: 1.7em; // 20px
	line-height: 2em; // added 06.08.2013
	padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 1px;
	// padding left is set in the line below: 227
	@extend %left-border; // Aligning the first footer item with node header, first menu item and FB icon
}

.field-name-title h2.page-title, // Name of the photo gallery ==> Name der Veranstaltung
.block>h2.block-title, // Aktuelles übersichtsseite inhalt/aktuelles
.view-gemeindenachrichten h3, // Jahreszahl nach denen die Gemeindenachrichten sortiert werden 
.collection-title, // Gemeinde Gabersdorf im Überblick
h2.pane-title //Homepage Headings FRONTPAGE
{
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: $color3;
	color: $color6;
	font-size: 1.5em;
	//text-shadow: 0 1px 0 #CFCFCF;
}

.view-grouping-header, // All views with responsive grid layout: Termine
h2.view-title,
.gemeindenachrichten h2, // Gemeindenachrichten Sommer 2013
.node-lokale-agenda-21 h3.page-subtitle
{
	color: $color6;
	font-size: 1.3em;
}

// Lokale Agenda 21
.field-name-field-protokolle-titel,
.field-name-field-titel-der-veranstaltung
{
	font-weight: bold;
}

// ======================================
// Basic page
// ======================================


.column li {
	list-style-type: bullet;
	//color: $color1;
}

.egovernment.left {
	float: left;
	width: 49%;
	padding-right: 2%;
}

.egovernment.right {
	margin-top: 5px;
	width: 49%;
	float: right;
}
.caption {} // Needed for Image Caption module so that it appears in Styles in den Editor

.image-caption { // Image Caption, Bilduntertitel
	line-height: 1.4em;
	font-style: italic;
	.lt-ie9 & {
		display: none;
	}
	@include MQ(XLneg) { // excludes caption on mobile devices
		display: none !important;
	}
}

// ======================================
// IE8 FIX
// ======================================

// The layout when there is only one sidebar, the right one.
// ======================================

 .lt-ie9 .sidebar-second {
    #content { /* Span 3 columns, starting in 1st column from left. */
      @include zen-grid-item(3, 1);
      margin-right: -70%;
      width: 70%;

    }

 	.region-sidebar-second { /* Span 2 columns, starting in 4th column from left. */
      @include zen-grid-item(2, 4);
      margin-left: 70%;
      width: 30%;

   
    }
  }

// Box Shadow Images / Bilder / Fotos
// ======================================

p>img, // Inline images,
p>span>img, // Inline images with caption
p>a>img, // Colorbox inline images
div.field-item img, // Image in Field Collection item
span>img, // Kindergarten Gabersdorf 1. Bild
div.photo>img, // Amtsführer durch das Gabersdorfer Gemeindeamt
li>a>img // Frontpage Image Rotator and of course all images in lists
{
	//border: 1px solid $color3;
	@include box-shadow(0px 10px 8px -8px rgba(0, 0, 0, 0.75));
	behavior: url('/sites/all/themes/gemeinde-gabersdorf/PIE/PIE.php'); // polyfill
}

// Excluding images in the region below the header ==> Facebook and other Logos
.region-header {
	img 
	{
		box-shadow: none;
	}
	a
	{
		text-decoration: none;
		&:hover
		{
			background: none;
		}
	}

}


// left border ==> padding-left only
// ======================================
.left-border,
.field-name-field-files,
.field-name-oeffnen-der-bildergalerie,
.view-buergerservice, //http://gemeindegabersdorf.local/buergerservice
.block>h2.block-title,
.view-header p,
.view-footer p,
h2.pane-title //Homepage Headings FRONTPAGE
{
	@extend %left-border;
}

// bottom border
// ====================================== 
.border-bottom,
.field-collection-container,
.view-gemeinderat .views-row,
.view-gemeindeamt-team .views-row,
.view-vereine .views-row,
.view-gewerbebetriebe .views-row,
.view-freizeit .views-row
{
	border-bottom: 1px solid $color3;
	margin-bottom: 10px;
}

.link-border-bottom
{
	margin-bottom: 10px;
}

.view // Adds a margin to any view
{
	margin-bottom: 1.5em;
}

// Termine views
// ======================================

// views_responsive_grid

.view-termine {
	@extend %left-border;
}

.view-display-id-page_1 > .view-content > .view-grouping, // Termine Archiv für ..
.view-display-id-page_2 > .view-content > .view-grouping // Aktuelle Termine
{
	@extend %view-grouping;
}

.view-grouping .view-grouping-content h3 // day, date. month 
{
	font-weight: normal;
	margin-bottom: 0;
}

.views-responsive-grid
{
	padding-bottom: 5px;
	border-bottom: 1px solid $color3;
}

span.field-content {
	font-weight: bold;
}


// Aktuelles views /inhalt/aktuelles
// ======================================

.column // in order for the box shadow to work
{ 
	position: relative;
	z-index: 99;
}

body.aktuelles .column > .block-views 
{
	width: 49%;
	float: left;
	@extend %box-shadow-teaser;
	@include MQ(XLneg) {
		width: 100%;
		float: none;
	}
}


#block-views-termine-block-2
{
	margin-right: 1%;
}

body.aktuelles .view-termine>.view-content>.view-grouping
{
	@extend %view-grouping;
	width: 48%;
}

.view-grouping-header
{
	margin-top: 1.15em;
	font-weight: bold;
}


// Bürgerservice views
// ======================================

.view-buergerservice .views-row 
{
	@extend %view-grouping;
	margin-right: 1.9% !important;
	width: 25%;
}

// Lokale Agenda 21 // Content Type Bildergalerie
// ======================================

// Bildergalerie

.field-name-field-agenda-bild-laden div div, // Lokale Agenda 21 Bildergalerie
.field-name-field-bildergalerie-bilder-laden div div
{
	//display: inline-block;
	@extend %inline-block;
	vertical-align: middle;
}

.field-name-field-agenda-bild-laden div .field-item,
.field-name-field-bildergalerie-bilder-laden div .field-item {
	padding-right: 5px;
}

.agenda-gallery .field-collection-view // moving the agenda 21 gallery to the right so that
									  // we have three images in a row again
{
	margin-left: 0;
}


// Bildergalerie Landing page // Gemeindenachrichten Landing page
// ======================================
//  http://gemeindegabersdorf.local/inhalt/fotos-veranstaltungen
//  http://gemeindegabersdorf.local/verwaltung/gemeindenachrichten

body.page-inhalt-fotos-veranstaltungen h1.title,
body.page-node-fotos-veranstaltungen h1.title,
body.page-verwaltung-gemeindenachrichten h1.title 
{
	margin-bottom: 20px;
}

body.page-inhalt-fotos-veranstaltungen .view-bildergalerie-landing-page .view-content,
body.page-node-fotos-veranstaltungen .view-bildergalerie-landing-page .view-content
// code taken from: http://matthamm.com/box-shadow-curl.html
{
	position: relative; // using a parent element make use that the parent div has position: relative; z-index: 99;
	z-index: 99;
	overflow: hidden;
}

// BOX SHADOW for views
// ======================================

body.page-inhalt-fotos-veranstaltungen .view-content .views-row, // box shadow
body.page-node-fotos-veranstaltungen .view-content .views-row, // Fotos Veranstaltungen Landing Page mit neuer URL
.view-gemeindenachrichten.view-display-id-page .views-row, // Box Shadow for Gemeindenachrichten Years box Overview
#block-views-gemeinderat-block-1, // Block Gemeindevorstand
#block-views-gemeinderat-block // Block Die Gemeinderäte
{
	
	margin-bottom: 40px;
	@extend %box-shadow-teaser;
	//@include box-shadow(40px 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.04) inset);
	//@include box-shadow(0px 12px 12px -12px $color8);
	// @include box-shadow(0px 12px 12px -12px (lighten($color8, 20%)));
	//@include transform(rotate(3deg));
	//border: $color3 solid 1px;
	
}

.field-name-field-bildergalerie-bilder-laden div div, // Big teaser image
.field-name-field-gemeindenachrichten-bild // Gemeindenachrichtenimage
{
	margin-top: 10px;
	margin-bottom: 6px;
	@extend %left-border;
}

.view-bildergalerie-landing-page .group-right
{
	width: 49%;
	margin-left: 1%;
	padding-top: 15px;
	.lt-ie9 & {
		width: 40%;
	}
}


// View Gemeindenachrichten specific styles
// ======================================
.view-gemeindenachrichten h3 // Jahreszahl nach denen die Gemeindenachrichten sortiert werden 
{
	@extend %left-border;
	padding-top: 8px;
	padding-bottom: 8px;
}

.gemeindenachrichten .views-column,
.view-stellenausschreibungen .views-row,
.view-aktuelles-inhaltstyp-aktuelles- .views-row
{
	border-top: 1px solid $color3;
}

.view-stellenausschreibungen .views-row,
.view-aktuelles-inhaltstyp-aktuelles- .views-row
{
	padding-bottom: 10px;
}

.view-stellenausschreibungen .views-row-last,
.view-aktuelles-inhaltstyp-aktuelles- .views-row-last
{
	padding-bottom: 0;
}

.gemeindenachrichten .views-column-first,
.view-stellenausschreibungen .views-row-first,
.view-aktuelles-inhaltstyp-aktuelles- .views-row-first,
.view-gemeinderat .views-row-last,
// .view-gemeindeamt-team .views-row-last
{
	border: none;
}

// View Verwaltung Landing page
// ======================================

.field-name-field-verwaltung .field-collection-view
{
	margin-right: 0;
	margin-left: 0;
}

// View Der Gemeinderat Landing page
// ======================================

.view-gemeinderat .views-row,
.view-gemeindeamt-team .views-row

{
	margin: 10px 0;
	@extend %left-border;
	.node-team {
		margin-bottom: 3px;
	}
}

// View Vereine Landing page
// ======================================

.views-row .group-left img // Some margin for first image on Vereine overview
{
	margin-top: 15px;
	margin-bottom: 20px;
}

// .node-vereine.view-mode-full {
// 	.group-right
// 	{
// 		width: 35%;
// 		.left-border {
// 			margin-top: 30px;
// 			text-align: right;
// 		}
// 	}
// 	.group-left
// 	{
// 		width: 65%;
// 	}
// }

.node-vereine.view-mode-full {
	@extend %two-columns;
}

// View Gewerbebetriebe
// ======================================

.view-gewerbebetriebe {
	.views-row {
		clear: both;
	}
		.group-left {
			float: left;
			width: 50%;
		}
		.group-right {
			float: right;
			width: 50%;
		}
}

// View Freizeit
// ======================================

.view-freizeit .views-row h2 {
	margin-bottom: 0;
}

.view-freizeit { 
	.view-header
	{
		border-bottom: 1px solid $color3;
		margin-bottom: 10px;
		padding-top: 15px;
		padding-bottom: 15px;
	}
	 .view-footer
	 {
	 	@extend .view-header;
	 	border-bottom: none;
	 }
}

// Gemeinde Gabersdorf im Überblick page-node-210
// ======================================

.lt-i9.page-node-210 .photo {
	margin-top: 20px;
}

// SITEMAP
// ======================================

// hide title "Main Menu"
.site-map-box-menu h2 {
	display: none;
}