// ======================================
// Placeholders and extensions by criscom
// ======================================

%clearfix { //From SACFW _placeholder.scss line 1ff
	@include clearfix;
}

// From SASS and Compass for Webdesigners _placeholder.scss line 4ff
%single-transition {
	@include single-transition(all, .3s, ease, 0s);
}

//From SACFW _placeholder.scss line 17ff
%sb-menu-text-shadow {
	@include single-text-shadow();
}

%menu { // Extension for the main menu
  color: $mainlink;
  display: block;
  font-size: 1.2em;
  font-family: $georgia;
  //padding: .1em .8em;
  padding: 14px 11px 13px 11px;
  text-decoration: none;
  border: none;
  letter-spacing: .075em;
  border: none;
  background:none;
}

%menu-border { // border for menus
  border-top: 1px solid $color8;
  border-bottom: 1px solid $color8;
}

%left-border { // Aligns FB Icon, first menu item, and first footer item; if you change this also change
  // padding-left: 11px; in %menu
  padding-left: 11px;
}

%right-border { // Takes care of the right border for search and partner logos
  padding-right: 11px;
}

%view-grouping { // For responsive grid layouts in Views with 3 columns!
  display: inline-block;
  vertical-align: top;
  margin-right: 2%;
  width: 31.3333%; 
}

%box-shadow-teaser // box shadow for teaser boxes "home", "bildergalerie"
{
  position: relative;
  border: 1px solid $color3;
  background: #FFF;
  @include box-shadow(0px 10px 10px -10px rgba(0, 0, 0, 0.27), 0 0 40px rgba($color1, 0.1) inset);
  behavior: url('/sites/all/themes/shiatsugraz/PIE/PIE.php'); // polyfill
  &:before, &:after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 40px;
    bottom: 15px;
    width: 80%;
    max-width: 300px;
    max-height: 100px;
    height: 35%;
    @include box-shadow (0px 10px 12px rgba(0, 0, 0, 0.35));
    @include transform(skew(-15deg) rotate(-6deg));
  }
  &:after {
    right: 40px;
    left: auto;
    @include transform(skew(15deg) rotate(6deg));
  }

}