// ======================================
// Placeholders and extensions by criscom
// ======================================

%clearfix { //From SACFW _placeholder.scss line 1ff
	@include clearfix;
}

// From SASS and Compass for Webdesigners _placeholder.scss line 4ff
%single-transition {
	@include single-transition(all, .3s, ease, 0s);
}

//From SACFW _placeholder.scss line 17ff
%sb-menu-text-shadow {
	@include single-text-shadow();
}

%menu { // Extension for the main menu
  color: $mainlink;
  display: block;
  font-size: 1.2em;
  font-family: $georgia;
  //padding: .1em .8em;
  padding: 14px 11px 13px 11px;
  text-decoration: none;
  border: none;
  letter-spacing: .075em;
  border: none;
  background:none;
}

%left-border { // Aligns FB Icon, first menu item, and first footer item; if you change this also change
  // padding-left: 11px; in %menu
  padding-left: 11px;
}

%right-border { // Takes care of the right border for search and partner logos
  padding-right: 11px;
}